main img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-style: solid;
}

.ofertas {
    display: flex;
    flex-direction: column;
}

main p {
    margin: 20px;
}

.importe {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 250px;
    padding: 50px;
    background-color: #291702;
    color: bisque;
    font-size: medium;
    border-radius: 10px;
    opacity: 80%;
}

#boton {
    background-color: #291702;
    color: antiquewhite;
    margin: 5%;
}

.barraBusqueda__input {
    width:500px;
}

.barraBusqueda {
    display: flex;
    margin: 5%
}

.cart {
    position: fixed;
    top: 30%;
    left: 60%;
    width: fit-content;
    background-color: whitesmoke;
    color: rgb(47, 27, 3);
    font-size: smaller;
    border-radius: 10px;
    border-style: solid;
    border-color: #291702;
    opacity: 80%;  

}

h4 {
    font-size: 20px;
}
.agregados {
    font-size: 15px;
}