main img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-style: solid;
}

.ofertas {
    display: flex;
    flex-direction: column;
}

main p {
    margin: 20px;
}

.importe {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 250px;
    padding: 50px;
    background-color: #291702;
    color: bisque;
    font-size: medium;
    border-radius: 10px;
    opacity: 80%;
}

#boton {
    background-color: #291702;
    color: antiquewhite;
    margin: 5%;
}

.barraBusqueda__input {
    width:500px;
}

.barraBusqueda {
    display: flex;
    margin: 5%
}