$ancho: 100%;

.carrouselImagenes {
    margin-right: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

section div div img {
    border-radius: 3%;
}

.rutaCarrousel {
    display: block;
}

#quitarBorde {
    border-right: none;
}
/*Estilo texto Ruta*/
.textoRuta {
    padding-bottom: 30px;
}
.mapaSitio {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: $ancho/2;
}