/*Quien Soy*/
    /*Foto*/
.imgQuienSoy {
    width: 400px;
    margin: 20px;

}   

.textoQuienSoy {
    margin-top: 10px;
    width: 80%;
    text-align: justify;
    margin: 10%;
}
.imgTextoQuienSoy {
    justify-content: space-evenly;
    display: block;
}