@media (min-width:769px) {
    .menuResponsive {
        display: none;
    }
    .grid-header {
        grid-template-areas: 
        "logo . redes"
        "logo . ."
        "logo menu .";
    }
    .logoRedes {
        width: 35px;
        height: 35px;
        /*border-radius: 30%;
        padding: 1px;*/
        transition: height 1s width 1s;
    }
    .logoRedes:hover {
        height: 50px;
        width: 50px;
        filter: opacity(70%);
    }
    .estiloMenu {
        display: flex;
        justify-content: center;
    }


   /*.bolivia {
        animation-name: boliviaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 2s;
    }
    
    @keyframes boliviaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .colombia {
        animation-name: colombiaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 3s;
    }
    
    @keyframes colombiaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .myanmar {
        animation-name: myanmarCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 4s;
    }
    
    @keyframes myanmarCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .vietnam {
        animation-name: vietnamCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 5s;
    }
    
    @keyframes vietnamCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .laos {
        animation-name: laosCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 6s;
    }
    
    @keyframes laosaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .tailandia {
        animation-name: tailandiaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 7s;
    }
    
    @keyframes tailandiaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .rusia {
        animation-name: rusiaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 8s;
    }
    
    @keyframes rusiaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .india {
        animation-name: rusiaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 9s;
    }
    
    @keyframes rusiaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .maldivas {
        animation-name: maldivasCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 10s;
    }
    
    @keyframes maldivasCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .finlandia {
        animation-name: finlandiaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 11s;
    }
    
    @keyframes finlandiaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .estonia {
        animation-name: estoniaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 12s;
    }
    
    @keyframes estoniaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .canada {
        animation-name: canadaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 13s;
    }
    
    @keyframes canadaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .alemania {
        animation-name: alemaniaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 14s;
    }
    
    @keyframes alemaniaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .italia {
        animation-name: italiaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 15s;
    }
    
    @keyframes italiaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }
    .espania {
        animation-name: espaniaCaida;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 16s;
    }
    
    @keyframes espaniaCaida{
        0% {
            transform: translateX(-1000%);}
        100% {   }
    }

    .estiloTabla {
        margin-left: 15%;
    }*/
}
/*@media (max-width:768px) {
    .estiloMenu {
        display:none
    }
     .grid-header {
         grid-template-areas: 
         "pestaniaMenu redes"
         "logo logo";
     }
     .logoRedes {
         width: 25px;
         height: 25px;
         border-radius: 30%;
         padding: 1px;
     }
     .sacarEnMobile {
         display: none;
     }
     .imgTextoQuienSoy {
         display: block;
     }
     .textoQuienSoy {
         width: 80%;
         text-align: justify;
         margin-left: 10%;
 
     }
     h1 {
         font-size: 60px;
         padding-top: 5px;
         padding-bottom: 5px;
     }
     .rutaCarrousel {
         display: block;
     }
     .carrouselImagenes {
         width: 100%;
         margin-top: 5px;
         margin-bottom: 5px;
     }
 }*/